# https://github.com/vercel/next.js/tree/canary/examples/cms-sanity#using-the-sanity-cli
NEXT_PUBLIC_SANITY_PROJECT_ID=m85xvr0s
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_READ_TOKEN=sk9TZ6akUsCDJMwf4EW4CShKCVA76EbztJvLdtepLAfzyNQtviPu2lOVcBH1mT2yDypcB6Bj8H3vsWTip5s1TMXqTwcUSgDz1SkkxbLmU16AFyb7iUfWyVj5djlquVpQhx2YCFSPgccvsqIaO99Ua2SbI0e2KbTM3PzQDZqGoxpWPeZYY70U
