# allow installing packages in the workspace root without a flag
ignore-workspace-root-check=true
# install dependencies when running commands
verify-deps-before-run=install
# ensure dependencies are at least 1 day old
minimum-release-age=1440
# use fast experimental store
enable-global-virtual-store=true