# always install dependencies at exact versions
save-prefix=''
# allow installing packages in the workspace root without a flag
ignore-workspace-root-check=true
# install dependencies when running commands
verify-deps-before-run=install