name: Lighthouse

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

jobs:
  library:
    # this hash is updated automatically, so if you're resolving a merge conflict, either hash is fine
    uses: reformcollective/library/.github/workflows/lighthouse.yml@b984fe3ebc0167e6bd2af4f1062b73cbd4482524
    secrets:
      SECRETS_JSON: ${{ toJSON(secrets) }}
    with:
      runOnGithubActions: false
