name: Lighthouse

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

jobs:
  library:
    # this hash is updated automatically, so if you're resolving a merge conflict, either hash is fine
    uses: reformcollective/library/.github/workflows/lighthouse.yml@d7c759302a01c1b16332260d626389a2674bb7e5
    secrets:
      SECRETS_JSON: ${{ toJSON(secrets) }}
    with:
      runOnGithubActions: false
