name: Code Checks
on: pull_request
jobs:
  library:
    # this hash is updated automatically, so if you're resolving a merge conflict, either hash is fine
    uses: reformcollective/library/.github/workflows/code-checks.yml@cff3e35c6045c4503280de8f65ac54792b21a2cb
    secrets:
      SECRETS_JSON: ${{ toJSON(secrets) }}
    with:
      runOnGithubActions: false
