name: Lighthouse

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

jobs:
  library:
    # this hash is updated automatically, so if you're resolving a merge conflict, either hash is fine
    uses: reformcollective/library/.github/workflows/lighthouse.yml@fc44cf54161afb9f9548441918df9c75b2d0f281
    secrets:
      SECRETS_JSON: ${{ toJSON(secrets) }}
