name: Code Checks
on: pull_request
jobs:
  library:
    # this hash is updated automatically, so if you're resolving a merge conflict, either hash is fine
    uses: reformcollective/library/.github/workflows/code-checks.yml@64bbb481d7dafee2274a57e663eeeea5cc146aed
    secrets:
      SECRETS_JSON: ${{ toJSON(secrets) }}
    with:
      isSanity: true
